.jumbotron {
    text-align: center;
    background-color: transparent;
}
.navbar {
    margin-bottom: 40px;
}
.message-alert {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 9999;
}
.big-badge {
    font-size: 20px !important;
}